* {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

html,
body {
    margin: 0px;
    padding: 0px;
}

#neutralinoapp {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(3, 85, 244);
    background: -moz-linear-gradient(rgba(3, 85, 244, 1) 0%, rgba(15, 214, 255, 1) 100%);
    background: -webkit-linear-gradient(rgba(3, 85, 244, 1) 0%, rgba(15, 214, 255, 1) 100%);
    background: linear-gradient(rgba(3, 85, 244, 1) 0%, rgba(15, 214, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0355f4", endColorstr="#0fd6ff", GradientType=1);
}

.container,
.countdown-timer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

.countdown-timer p {
    color: rgba(255, 255, 255, 0.7);
}

#timer-display {
    font-size: 70px;
    color: rgba(255, 255, 255, 0.7);
}